body {
    background-image: url("../media/Tesla/tesla_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    background-size: cover;
  
}

#hello-name{
    display: none;
}


#navbar {
    padding: 60px;
    text-align: center;
    border: solid;
    border-width: 2px;
    font-size: 20px;

}


.button {
    border-radius: 4px;
    background-color: #808080;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    opacity: 0.5;
}

#logout-button{
    display: none;
}

#login-button {
    display: block;
}

#register-button {
    display: block;
}

#adminlog-button{
    display: none;
}

.button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}

.button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
}

.button:hover span {
        padding-right: 25px;
}

.button:hover span:after {
            opacity: 1;
            right: 0;
}

.tesla-logo {
    position: absolute;
    margin-top: 20px;
    margin-left: 19px;
}

#register_table {
    display: none;
    position: absolute;
    width: 800px;
    height: 600px;
    margin-top: 130px;
    margin-left: calc(50% - 400px);
    border: solid;
    border-width: 2px;
    background-color: grey;
}

#register-title {
    text-align: center;
    font-family: Arial;
    font-size: 100px
}

#login_table {
    display: none;
    position: absolute;
    width: 800px;
    height: 600px;
    margin-top: 130px;
    margin-left: calc(50% - 400px);
    border: solid;
    border-width: 2px;
    background-color:grey;
}



#login-title {
    text-align: center;
    font-family: Arial;
    font-size: 100px;
   
}


#user-name-login {
    float: left;
    width: 200px;
    height: 20px;
    margin-left: calc(50% - 100px)
}

#user-name {
    float: left;
    width: 200px;
    height: 20px;
    margin-left: calc(50% - 100px)
}

#user-pass-login {
    float: left;
    margin-top: 10px;
    height: 20px;
    width: 200px;
    margin-left: calc(50% - 100px)
}

#user-pass {
    float: left;
    margin-top: 10px;
    height: 20px;
    width: 200px;
    margin-left: calc(50% - 100px)
}


#register-button {
    width: 100px;
    height: 30px;
    margin-top: 26px;
    margin-left: calc(50% - 50px);
    border: solid;
    border-width: 1px;
    border-color: darkgray;
    color: #383838;
    border-radius: 4px
}

#login-user-button {
    width: 100px;
    height: 30px;
    margin-top: 15px;
    margin-left: calc(50% - 50px);
    border: solid;
    border-width: 1px;
    border-color: darkgray;
    color: #383838;
    border-radius: 4px
}

#required-password {
    position: absolute;
    top: 348px;
    margin-left: calc(50% + 110px);
    display: none;
    color: red
}

#required-password-login {
    position: absolute;
    top: 348px;
    margin-left: calc(50% + 110px);
    display: none;
    color: red
}

#required-username {
    top: 320px;
    position: absolute;
    margin-left: calc(50% + 110px);
    display: none;
    color: red
}

#required-username-login {
    top: 320px;
    position: absolute;
    margin-left: calc(50% + 110px);
    display: none;
    color: red
}

#home-title {
    text-align: center;
    font-size: 50px;
    padding-left: 8px;
    font-family: Arial;
}

#home-paragraph {
    text-align: center;
    font-size: 30px;
    padding-left: 8px;
    font-family: Arial;
}

#failed-login {
    display: none;
    position: absolute;
    top: 280px;
    margin-left: calc(50% - 110px);
    display: none;
    color: red;
    text-align: center;
    width: 220px;
}

#failed-register {
    display: none;
    position: absolute;
    top: 280px;
    margin-left: calc(50% - 110px);
    display: none;
    color: red;
    text-align: center;
    width: 220px;
}

#home-title {
    text-align: center;
    font-size: 50px;
    padding-left: 8px;
    font-family: Arial;
}

#home-paragraph {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    padding-left: 8px;
    font-family: Arial;
}

.model-s {
    position: absolute;
    top: 55%;
    left: 14%;
    width: 450px;
    height: 250px;  
}

.model-3 {
    position: absolute;
    top: 55%;
    left: 74%;
    width: 450px;
    height: 250px;  
}

.model-x {
    position: absolute;
    top: 53%;
    left: 42%;
    width: 450px;
    height: 290px; 
}





#model_s_page {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

#model-s-homebutton {
    position:absolute;
    margin-left:50px;
    margin-top:800px;
    z-index:1;
}

#model-s-paybutton {
    position: absolute;
    margin-left: 1650px;
    margin-top: 800px;
    z-index: 1;
}


#model-s-car-autopilot-preview {
    display: none;
    position: absolute;
    width: 800px;
    height: 600px;
    margin-top: 210px;
    margin-left: calc(74% - 400px);
    background-color: white;
}

#model-s-car-pic {
    position: absolute;
    display: none;
    margin-top: 180px;
}

#left-border{
    position:absolute;
  
    margin-left:1px;
    border:solid;
    border-bottom-color:grey;
    border-bottom-style:solid;
    border-left-style:none;
    border-right-color:grey;
    border-top-color:grey;
    height:100%;
    width:45%;
}

#right-border {
    
    border: solid;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-color: grey;
    border-top-color: grey;
    height: 100%;
    width: 100%;
}


#model-s-color-white {
    position: absolute;
    display: none;
    margin-left: 400px;
 
}

#model-s-color-black {
    position: absolute;
    display: none;
    margin-left:450px;
}

#model-s-color-red {
    position: absolute;
    display: none;
    margin-left: 504px;
    margin-top:2px;
}

#model-s-wheel1 {
    position: absolute;
    display: none;
    margin-left: 604px;
    margin-top: 2px;
}

#model-s-wheel2 {
    position: absolute;
    display: none;
    margin-left: 654px;
    margin-top: 1px;
}

#autopilot-model-s {
    position: absolute;
    margin-top: 80px;
    margin-left: calc(70% - 400px);
    font-size: large;
    width: 40%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#autopilot-model-s-colorp {
    position: absolute;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top:100px;
    margin-left:240px;
    margin-bottom:100px;
}




#model_x_page {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

#model-x-homebutton {
    position: absolute;
    margin-left: 50px;
    margin-top: 800px;
    z-index: 1;
}

#model-x-paybutton {
    position: absolute;
    margin-left: 1650px;
    margin-top: 800px;
    z-index: 1;
}


#model-x-car-autopilot-preview {
    display: none;
    position: absolute;
    width: 800px;
    height: 600px;
    margin-top: 210px;
    margin-left: calc(74% - 400px);
    background-color: white;
}

#model-x-car-pic {
    position: absolute;
    display: none;
    margin-top: 180px;
}

#left-border-x {
    position: absolute;
    margin-left: 1px;
    border: solid;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-color: grey;
    border-top-color: grey;
    height: 100%;
    width: 45%;
}

#right-border-x {
    border: solid;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-color: grey;
    border-top-color: grey;
    height: 100%;
    width: 100%;
}


#model-x-color-white {
    position: absolute;
    display: none;
    margin-left: 400px;
}

#model-x-color-black {
    position: absolute;
    display: none;
    margin-left: 450px;
}

#model-x-color-red {
    position: absolute;
    display: none;
    margin-left: 504px;
    margin-top: 2px;
}

#model-x-wheel1 {
    position: absolute;
    display: none;
    margin-left: 604px;

}

#model-x-wheel2 {
    position: absolute;
    display: none;
    margin-left: 654px;
    margin-top: 1px;
}

#autopilot-model-x {
    position: absolute;
    margin-top: 80px;
    margin-left: calc(70% - 400px);
    font-size: large;
    width: 40%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#autopilot-model-x-colorp {
    position: absolute;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 240px;
    margin-bottom: 100px;
}




#model_3_page {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

#model-3-homebutton {
    position: absolute;
    margin-left: 50px;
    margin-top: 800px;
    z-index: 1;
}

#model-3-paybutton {
    position: absolute;
    margin-left: 1650px;
    margin-top: 800px;
    z-index: 1;
}


#model-3-car-autopilot-preview {
    display: none;
    position: absolute;
    width: 800px;
    height: 600px;
    margin-top: 210px;
    margin-left: calc(74% - 400px);
    background-color: white;
}

#model-3-car-pic {
    position: absolute;
    display: none;
    margin-top: 180px;
}

#left-border-3 {
    position: absolute;
    margin-left: 1px;
    border: solid;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-color: grey;
    border-top-color: grey;
    height: 100%;
    width: 45%;
}

#right-border-3 {
    border: solid;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-color: grey;
    border-top-color: grey;
    height: 100%;
    width: 100%;
}


#model-3-color-white {
    position: absolute;
    display: none;
    margin-left: 400px;
}

#model-3-color-black {
    position: absolute;
    display: none;
    margin-left: 450px;
}

#model-3-color-red {
    position: absolute;
    display: none;
    margin-left: 504px;
    margin-top: 2px;
}

#model-3-wheel1 {
    position: absolute;
    display: none;
    margin-left: 604px;
}

#model-3-wheel2 {
    position: absolute;
    display: none;
    margin-left: 654px;
    margin-top: 1px;
}

#autopilot-model-3 {
    position: absolute;
    margin-top: 80px;
    margin-left: calc(70% - 400px);
    font-size: large;
    width: 40%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#autopilot-model-3-colorp {
    position: absolute;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 240px;
    margin-bottom: 100px;
}


#buy-model-s{
    margin-top:600px;
}

.buy-model-s {
    margin-top: 600px;
}

li#activity-item {
    background-color: lightgrey;
    margin: 5px;
    padding: 6px;
    border-radius: 13px;
}

ul#actList {
    list-style-type: none;
}

#admin_table {
    display: none;
    position: absolute;
    width: 100%;
    height: 160%;
    background-color: white;    
}

#renderList {
    margin-left:3em;
    margin-top:4em;
    position: absolute;
}

#user-activities {
    margin-left: 4em;
    position: absolute;
    margin-top: 4em;
}

#banned-user {
    margin-left: 70em;
    position: absolute;
    margin-top: 4.6em;
}

#banned-user-text {
    margin-left: 39em;
    position: absolute;
    margin-top: 4em;
}

#delete-button {
    margin-left: 85em;
    position: absolute;
    margin-top: 4.6em;
}

#admin-homebutton {
    margin-left: 1em;
    position: absolute;
    margin-top: 0.5em;
}

#confirmation {
    margin-left: 86em;
    position: absolute;
    margin-top: 4em;
}



