body {
    background-image: url("../media/Tesla/tesla_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    background-size: cover;
  
}

#hello-name{
    display: none;
}


#navbar {
    padding: 60px;
    text-align: center;
    border: solid;
    border-width: 2px;
    font-size: 20px;

}


.button {
    border-radius: 4px;
    background-color: #808080;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    opacity: 0.5;
}

#logout-button{
    display: none;
}

#login-button {
    display: block;
}
#register-button {
    display: block;
}

.button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}

.button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
}

.button:hover span {
        padding-right: 25px;
}

.button:hover span:after {
            opacity: 1;
            right: 0;
}

.tesla-logo {
    position: absolute;
    margin-top: 20px;
    margin-left: 19px;
}

#register_table {
    display: none;
    position: absolute;
    width: 800px;
    height: 600px;
    margin-top: 130px;
    margin-left: calc(50% - 400px);
    border: solid;
    border-width: 2px;
    background-color: grey;
}

#register-title {
    text-align: center;
    font-family: Arial;
    font-size: 100px
}

#login_table {
    display: none;
    position: absolute;
    width: 800px;
    height: 600px;
    margin-top: 130px;
    margin-left: calc(50% - 400px);
    border: solid;
    border-width: 2px;
    background-color:grey;
}

#login-title {
    text-align: center;
    font-family: Arial;
    font-size: 100px;
   
}


#user-name-login {
    float: left;
    width: 200px;
    height: 20px;
    margin-left: calc(50% - 100px)
}

#user-name {
    float: left;
    width: 200px;
    height: 20px;
    margin-left: calc(50% - 100px)
}

#user-pass-login {
    float: left;
    margin-top: 10px;
    height: 20px;
    width: 200px;
    margin-left: calc(50% - 100px)
}

#user-pass {
    float: left;
    margin-top: 10px;
    height: 20px;
    width: 200px;
    margin-left: calc(50% - 100px)
}


#register-button {
    width: 100px;
    height: 30px;
    margin-top: 26px;
    margin-left: calc(50% - 50px);
    border: solid;
    border-width: 1px;
    border-color: darkgray;
    color: #383838;
    border-radius: 4px
}

#login-user-button {
    width: 100px;
    height: 30px;
    margin-top: 15px;
    margin-left: calc(50% - 50px);
    border: solid;
    border-width: 1px;
    border-color: darkgray;
    color: #383838;
    border-radius: 4px
}

#required-password {
    position: absolute;
    top: 348px;
    margin-left: calc(50% + 110px);
    display: none;
    color: red
}

#required-password-login {
    position: absolute;
    top: 348px;
    margin-left: calc(50% + 110px);
    display: none;
    color: red
}

#required-username {
    top: 320px;
    position: absolute;
    margin-left: calc(50% + 110px);
    display: none;
    color: red
}

#required-username-login {
    top: 320px;
    position: absolute;
    margin-left: calc(50% + 110px);
    display: none;
    color: red
}

#home-title {
    text-align: center;
    font-size: 50px;
    padding-left: 8px;
    font-family: Arial;
}

#home-paragraph {
    text-align: center;
    font-size: 30px;
    padding-left: 8px;
    font-family: Arial;
}

#failed-login {
    display: none;
    position: absolute;
    top: 280px;
    margin-left: calc(50% - 110px);
    display: none;
    color: red;
    text-align: center;
    width: 220px;
}

#failed-register {
    display: none;
    position: absolute;
    top: 280px;
    margin-left: calc(50% - 110px);
    display: none;
    color: red;
    text-align: center;
    width: 220px;
}

#home-title {
    text-align: center;
    font-size: 50px;
    padding-left: 8px;
    font-family: Arial;
}

#home-paragraph {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    padding-left: 8px;
    font-family: Arial;
}

.model-s {
    position: absolute;
    top: 55%;
    left: 14%;
    width: 450px;
    height: 250px;  
}

.model-3 {
    position: absolute;
    top: 55%;
    left: 74%;
    width: 450px;
    height: 250px;  
}

.model-x {
    position: absolute;
    top: 53%;
    left: 42%;
    width: 450px;
    height: 290px; 
}

#model_s_page {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

#model_x_page {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

#model_3_page {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}


#model-s-car-autopilot-preview {
    display: none;
    position: absolute;
    width: 800px;
    height: 600px;
    margin-top: 250px;
    margin-left: calc(70% - 400px);
    background-color: white;
}

#model-s-car-pic {
    position: absolute;
    display: none;
    margin-top: 230px;
}

#model-s-color-white {
    position: absolute;
    margin-left: calc(18% - 400px);
    display: none;
}

#model-s-color-black {
    position: absolute;
    display: none;
    margin-left: calc(52% - 400px);
}

#model-s-color-red {
    position: absolute;
    display: none;
    margin-left: calc(35% - 400px);
}

#autopilot-model-s {
    position: absolute;
    margin-top: 200px;
    margin-left: calc(70% - 400px);
    font-size: large;
    font-weight: bold;
}

#autopilot-model-s-colorp {
    position: absolute;
    margin-top: 180px;
    margin-left: calc(30% - 400px);
    font-size: large;
    font-weight: bold;
}


#buy-model-s {
    display: none !important;
    background-color: red;
}






